[submodule "cgm-enrichment/NuPyCEE"]
	path = cgm-enrichment/NuPyCEE
	url = https://github.com/NuGrid/NuPyCEE
[submodule "cgm-enrichment/JINAPyCEE"]
	path = cgm-enrichment/JINAPyCEE
	url = https://github.com/clairekope/JINAPyCEE
[submodule "uv-backgrounds/cloudy_cooling_tools"]
	path = uv-backgrounds/cloudy_cooling_tools
	url = git@github.com:clairekope/cloudy_cooling_tools.git
